web/WEB-INF/wsdl/localhost_8080/WebServices/NewWebService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://LoginWS/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://LoginWS/" name="NewWebService">
<types>
<xsd:schema>
<xsd:import namespace="http://LoginWS/" schemaLocation="http://localhost:8080/WebServices/NewWebService?xsd=1"/>
</xsd:schema>
</types>
<message name="loginJefesuperior">
<part name="parameters" element="tns:loginJefesuperior"/>
</message>
<message name="loginJefesuperiorResponse">
<part name="parameters" element="tns:loginJefesuperiorResponse"/>
</message>
<message name="loginJefeinterno">
<part name="parameters" element="tns:loginJefeinterno"/>
</message>
<message name="loginJefeinternoResponse">
<part name="parameters" element="tns:loginJefeinternoResponse"/>
</message>
<message name="loginAlcalde">
<part name="parameters" element="tns:loginAlcalde"/>
</message>
<message name="loginAlcaldeResponse">
<part name="parameters" element="tns:loginAlcaldeResponse"/>
</message>
<message name="loginFuncionario">
<part name="parameters" element="tns:loginFuncionario"/>
</message>
<message name="loginFuncionarioResponse">
<part name="parameters" element="tns:loginFuncionarioResponse"/>
</message>
<message name="DatosUsuario">
<part name="parameters" element="tns:DatosUsuario"/>
</message>
<message name="DatosUsuarioResponse">
<part name="parameters" element="tns:DatosUsuarioResponse"/>
</message>
<message name="checkLogin">
<part name="parameters" element="tns:checkLogin"/>
</message>
<message name="checkLoginResponse">
<part name="parameters" element="tns:checkLoginResponse"/>
</message>
<portType name="Login">
<operation name="loginJefesuperior">
<input wsam:Action="http://LoginWS/Login/loginJefesuperiorRequest" message="tns:loginJefesuperior"/>
<output wsam:Action="http://LoginWS/Login/loginJefesuperiorResponse" message="tns:loginJefesuperiorResponse"/>
</operation>
<operation name="loginJefeinterno">
<input wsam:Action="http://LoginWS/Login/loginJefeinternoRequest" message="tns:loginJefeinterno"/>
<output wsam:Action="http://LoginWS/Login/loginJefeinternoResponse" message="tns:loginJefeinternoResponse"/>
</operation>
<operation name="loginAlcalde">
<input wsam:Action="http://LoginWS/Login/loginAlcaldeRequest" message="tns:loginAlcalde"/>
<output wsam:Action="http://LoginWS/Login/loginAlcaldeResponse" message="tns:loginAlcaldeResponse"/>
</operation>
<operation name="loginFuncionario">
<input wsam:Action="http://LoginWS/Login/loginFuncionarioRequest" message="tns:loginFuncionario"/>
<output wsam:Action="http://LoginWS/Login/loginFuncionarioResponse" message="tns:loginFuncionarioResponse"/>
</operation>
<operation name="DatosUsuario">
<input wsam:Action="http://LoginWS/Login/DatosUsuarioRequest" message="tns:DatosUsuario"/>
<output wsam:Action="http://LoginWS/Login/DatosUsuarioResponse" message="tns:DatosUsuarioResponse"/>
</operation>
<operation name="checkLogin">
<input wsam:Action="http://LoginWS/Login/checkLoginRequest" message="tns:checkLogin"/>
<output wsam:Action="http://LoginWS/Login/checkLoginResponse" message="tns:checkLoginResponse"/>
</operation>
</portType>
<binding name="LoginPortBinding" type="tns:Login">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="loginJefesuperior">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="loginJefeinterno">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="loginAlcalde">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="loginFuncionario">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="DatosUsuario">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="checkLogin">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="NewWebService">
<port name="LoginPort" binding="tns:LoginPortBinding">
<soap:address location="http://localhost:8080/WebServices/NewWebService"/>
</port>
</service>
</definitions>